@model web.workplace.VM.MenuVM

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Workplace</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" 
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        @if (Model.MenuItems != null && Model.MenuItems.Count > 0)
        {
            <ul class="navbar-nav mr-auto">
                @foreach (var item in Model.MenuItems)
                {
                <li class="nav-item active">
                   @Html.ActionLink(item.ItemText, item.ActionName, item.ControllerName , new { area = item.AreaName },new { @class="nav-link" })
                </li>
                }
            </ul>
        }
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" class="nav-link"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>

        </ul>
    </div>
</nav>
